<?xml version="1.0" encoding="utf-8"?>
<dashBoard>
  <section alias="StartupDeveloperDashboardSection">
    <areas>
      <area>developer</area>
    </areas>
    <tab caption="Ordrar">
      <control showOnce="false" addPanel="false" panelCaption="">
        /app_plugins/CustomData/backoffice/dashboard/ordersListView.html
      </control>
    </tab>
  </section>
</dashBoard>